# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache

# VS Code
.vscode/settings.json

# Сборка
*.o
*.elf
*.bin
*.hex
build/
target/
cmake-build-*/

# Личное
*.private.md
secrets.md
